
<!DOCTYPE html>
<html lang="sv-SE">
<head>
    <meta charset="UTF-8" />
    <title>ELLE Decoration – Inredning, desnder</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true"	
    <link href="elleförstasida.css" rel="stylesheet"
    type="text/css"> 


    <li class="menu-more-wrapper menu-right">
            <a>Mer <i class="fa fa-caret-down"></i></a>
        </li>
                <li class="mobile_social_modul menu-right">
            <a>Följ</a>
          </li>
        
        <li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
	
<li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu"> <li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
        <ul class="sub-menu">
            <li id="menu-item-67634" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67634"><a href="https://www.elledecoration.se/etiketter/shopping/">Shopping</a></li>
         
    </li>
    <ul>
        </li>
        <li id="menu-item-15561" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15561"><a href="https://www.elledecoration.se/kategori/hemma-hos/">Hemma hos</a></li>
        <li id="menu-item-36278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36278"><a href="https://www.elledecoration.se/kategori/gor-det-sjalv/">Gör det själv<i class="fa fa-caret-down"></i></a>
        <ul class="sub-menu">
         <li id="menu-item-66499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66499"><a href="https://www.elledecoration.se/etiketter/renovering/">Renovering</a></li>
        </ul>
        </li>
        <li id="menu-item-36201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36201"><a href="https://www.elledecoration.se/kategori/tradgard/">Trädgård<i class="fa fa-caret-down"></i></a>
        <ul class="sub-menu">
            <li id="menu-item-65262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65262"><a href="https://www.elledecoration.se/etiketter/vaxter">Växter</a></li>
        </ul>
        </li>
        <li id="menu-item-15563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15563"><a href="https://www.elledecoration.se/inspirationsgalleriet/">Inspirationsgalleriet</a></li>
        <li id="menu-item-30831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-30831"><a href="https://www.elledecoration.se/bloggar-pa-elle-decoration/">Bloggar<i class="fa fa-caret-down"></i></a>
        <ul class="sub-menu">
            <li id="menu-item-67927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67927"><a href="https://fridafahrman.elledecoration.se/">Frida Fahrman</a></li>
        </ul>
        </li>
        <li id="menu-item-15566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15566"><a href="https://www.elledecoration.se/kontakta-oss/">Kontakt</a></li>
        <li id="menu-item-35393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35393"><a href="http://www.ellematovin.se/">ELLE mat &#038; vin</a></li>
            </ul>
        
            <div class="extended-menu"><ul class="menu-more"></ul></div>
          </div> <!-- menu-wrapper -->
        </div>
        
        <li id="menu-item-35392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35392"><a href="http://www.elle.se/">ELLE</a></li>
        </ul>

        
    <div class="extended-menu"><ul class="menu-more"></ul></div>
</div> <!-- menu-wrapper -->
</div>

<div class="block-main-navigation">
<div class="mobile-social-expand in-view in-view-visible" style="display: block;">
  <div class="wrapper">
    <span class="contract-submenu" ng-click="socialPopupClose()" toggle-mobile-socials="">×</span>
    <span class="follow-text">Följ oss på</span>
    <ul>
            <li>
        <a href="https://sv-se.facebook.com/elledecoration.se" class="social-icon dark" target="">
        <i class="icon-facebook fa fa-facebook"></i>
        </a>
      </li>
            <li>
        <a href="https://www.pinterest.com/elledeco_sweden" class="social-icon dark" target="">
        <i class="icon-pinterest fa fa-pinterest"></i>
        </a>
      </li>
            <li>
        <a href="https://www.elledecoration.se/nyhetsbrev" class="social-icon dark" target="">
        <i class="icon-envelope fa fa-envelope"></i>
        </a>
      </li>
          </ul>
  </div>
</div>
</div>
</div>
</div>

<div class="row-block one-column exclude-infinity ">
  <section class="block-hero-single block-section ">
                                 
        <li class="menu-more-wrapper menu-right">
                <a>Mer <i class="fa fa-caret-down"></i></a>
            </li>
                    <li class="mobile_social_modul menu-right">
                <a>Följ</a>
              </li>
            
            <li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu">
          <li id="menu-item-67634" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67634"><a href="https://www.elledecoration.se/etiketter/shopping/">Shopping</a></li>
          <li id="menu-item-65268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65268"><a href="https://www.elledecoration.se/etiketter/inredningstrender/">Trender</a></li>
          <li id="menu-item-67635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67635"><a href="https://www.elledecoration.se/etiketter/inredningstips/">Inredningstips</a></li>
          <li id="menu-item-65270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65270"><a href="https://www.elledecoration.se/etiketter/inredningsinspiration/">Inspiration</a></li>
          <li id="menu-item-65254" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65254"><a href="https://www.elledecoration.se/etiketter/compact-living/">Compact Living</a></li>
          <li id="menu-item-65251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65251"><a href="https://www.elledecoration.se/etiketter/sovrum/">Sovrum</a></li>
          <li id="menu-item-65234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65234"><a href="https://www.elledecoration.se/etiketter/vardagsrum/">Vardagsrum</a></li>
          <li id="menu-item-65255" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65255"><a href="https://www.elledecoration.se/etiketter/k%C3%B6k/">Kök</a></li>
          <li id="menu-item-65260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65260"><a href="https://www.elledecoration.se/etiketter/badrum/">Badrum</a></li>
          <li id="menu-item-65632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65632"><a href="https://www.elledecoration.se/etiketter/hall/">Hall</a></li>
          <li id="menu-item-65258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65258"><a href="https://www.elledecoration.se/etiketter/barnrum/">Barnrum</a></li>
          <li id="menu-item-65259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65259"><a href="https://www.elledecoration.se/etiketter/belysning/">Belysning</a></li>
          <li id="menu-item-65261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65261"><a href="https://www.elledecoration.se/etiketter/balkong/">Balkong</a></li>
          <li id="menu-item-65257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65257"><a href="https://www.elledecoration.se/etiketter/tapeter/">Tapeter</a></li>
      </ul>
      </li>
      <li id="menu-item-15561" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15561"><a href="https://www.elledecoration.se/kategori/hemma-hos/">Hemma hos</a></li>
      <li id="menu-item-36278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36278"><a href="https://www.elledecoration.se/kategori/gor-det-sjalv/">Gör det själv<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu">
          <li id="menu-item-65265" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65265"><a href="https://www.elledecoration.se/etiketter/diy">DIY</a></li>
          <li id="menu-item-66499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66499"><a href="https://www.elledecoration.se/etiketter/renovering/">Renovering</a></li>
      </ul>
      </li>
      <li id="menu-item-36201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36201"><a href="https://www.elledecoration.se/kategori/tradgard/">Trädgård<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu">
          <li id="menu-item-65262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65262"><a href="https://www.elledecoration.se/etiketter/vaxter">Växter</a></li>
          <li id="menu-item-66500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66500"><a href="https://www.elledecoration.se/etiketter/blommor/">Blommor</a></li>
          <li id="menu-item-65264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65264"><a href="https://www.elledecoration.se/etiketter/odla/">Odla</a></li>
      </ul>
      </li>
      <li id="menu-item-15563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15563"><a href="https://www.elledecoration.se/inspirationsgalleriet/">Inspirationsgalleriet</a></li>
      <li id="menu-item-30831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-30831"><a href="https://www.elledecoration.se/bloggar-pa-elle-decoration/">Bloggar<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu">
          <li id="menu-item-67927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67927"><a href="https://fridafahrman.elledecoration.se/">Frida Fahrman</a></li>
          <li id="menu-item-65247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65247"><a href="https://johannabradford.elledecoration.se/">Johanna Bradford</a></li>
          <li id="menu-item-68834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68834"><a href="https://strenghielm.elledecoration.se/">Strenghielm</a></li>
          <li id="menu-item-68875" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68875"><a href="https://elinlannsjo.elledecoration.se/">Elin Lannsjö</a></li>
          <li id="menu-item-65249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65249"><a href="https://malin.elledecoration.se/">Malin Persson</a></li>
      </ul>
      </li>
      <li id="menu-item-16530" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-16530"><a href="https://www.elledecoration.se/kategori/designpriset/">Designpriset</a></li>
      <li id="menu-item-15565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15565"><a target="_blank" href="https://www.elledecoration.se/pren/">Prenumerera</a></li>
      <li id="menu-item-40306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40306"><a href="https://www.elledecoration.se/nyhetsbrev/">Nyhetsbrev</a></li>
      <li id="menu-item-15566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15566"><a href="https://www.elledecoration.se/kontakta-oss/">Kontakt</a></li>
      <li id="menu-item-35392" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35392"><a href="http://www.elle.se/">ELLE</a></li>
      <li id="menu-item-35393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35393"><a href="http://www.ellematovin.se/">ELLE mat &#038; vin</a></li>
          </ul>
      
          <div class="extended-menu"><ul class="menu-more"></ul></div>
        </div> <!-- menu-wrapper -->
      </div>
      
      <div class="block-main-navigation">
        <div class="mobile-social-expand in-view in-view-visible" style="display: block;">
          <div class="wrapper">
            <span class="contract-submenu" ng-click="socialPopupClose()" toggle-mobile-socials="">×</span>
            <span class="follow-text">Följ oss på</span>
            <ul>
                    <li>
                <a href="https://sv-se.facebook.com/elledecoration.se" class="social-icon dark" target="">
                <i class="icon-facebook fa fa-facebook"></i>
                </a>
              </li>
                    <li>
                <a href="https://www.pinterest.com/elledeco_sweden" class="social-icon dark" target="">
                <i class="icon-pinterest fa fa-pinterest"></i>
                </a>
              </li>
                    <li>
                <a href="https://www.elledecoration.se/nyhetsbrev" class="social-icon dark" target="">
                <i class="icon-envelope fa fa-envelope"></i>
                </a>
              </li>
                  </ul>
          </div>
        </div>
      </div>
        </div>
      </div>
      
      <div class="row-block one-column exclude-infinity ">  
            <div class="row-block one-column exclude-infinity ">
                    <section class="block-hero-single block-section ">
                                                    <article>
                            <a class="image-link
                                                                " href="https://www.elledecoration.se/fina-satt-att-presentera-julblommor/">
                                <div class="img-wrapper">
                                    <img class="post-image" src="https://files.elledecoration.se/uploads/fly-images/73804/julblommor-980x515-c-980x515-c.jpg" />
                                    <div class="header-info-block-wrapper" style="max-width: px">
                                        <div class="header-info-block">
                                                                    <div class="post-category">
                                            <a href="https://www.elledecoration.se/kategori/tradgard/">
                                                Trädgård                            </a>
                                            </div>
                                                                <a href="https://www.elledecoration.se/fina-satt-att-presentera-julblommor/">
                                            <h2>
                                                12 fina sätt att presentera julblommorna i vinter                            </h2>
                                        </a>
                                                                </div>
                                    </div>
                                </div>
                                            </a>
                        </article>
                        </section>
                        
</div>


</div> <!-- o-wallpaper -->
  
  <div id="outer-container">
  <div id="primary">
      <div id="content" role="main" class="o-content--root">
      
<div class="row-block one-column exclude-infinity exclude-mobile">
  
<!-- Solum ad: interstitial -->

  <section class="block-section block-dfp-ads ">
      
<!-- AD TEMPLATE -->
<div id="div-gpt-ad-1359364411177-0" class="ad-block responsive-ad ad-collapse">

  <div class="ad-tag">Annons</div>

    
<div id="div-gpt-ad-1359364411177-0-5bf7f1e0c8cc7"
   class=" marginfix"
   ad-placement="interstitial"
   >


</div>


</div> <!-- ad-block responsive-ad ad-collapse -->
  </section>
  </div>

<div class="row-block one-column exclude-infinity ">
    <div class="block-widget-area-2 block-section-widget block-section full-width widget-count-1">
  <div id="vultus_navigation_header" class="vultus-navigation-header-image">
      <a href='https://www.elledecoration.se/'>
        <img src="https://files.elledecoration.se/uploads/2017/02/elle-deco-logo.jpg" alt="ELLE Decoration" />
  </a>
</div>

<div class="nav-huvudmeny nav-show-logo-1 nav-hamburger-1 nav-clicky-0 nav-show-search-1 nav-show-social-0 social-count-3 navigation-bar block-section vultus-nav fixated " id="navigation_bar_huvudmeny" data-logo-url="https://files.elledecoration.se/uploads/2015/12/elle-deco-logo.svg" data-slug="huvudmeny" data-show-logo="1" data-show-search="1" data-show-social="0" data-show-count="3" data-smooth-sticky-logo="0" data-fixed-nav-bar="1">
  <div class="menu-wrapper">
  <ul class="menu">
    <li class="menu-button bars-display menu-left">
            <a>
        <i class="fa fa-bars"></i>
      </a>
          </li>
        <li class="logo menu-left ">
    <h1>              <span><a href='https://www.elledecoration.se/'><img src='https://files.elledecoration.se/uploads/2015/12/elle-deco-logo.svg' alt='ELLE Decoration' class="fade-effect"/></a></span>
          </h1>      </li>
        <li class="menu-button text-display menu-left">
      <span class="menu-text"><a>MENY<i class="fa fa-caret-down"></i></a></span>
    </li >

            <li class="search menu-right">
        <i class="fa fa-search"></i>
        <form method="get" action="https://www.elledecoration.se">
          <input type="text" name="s"/>
        </form>
      </li>
    
    
    <li class="menu-more-wrapper menu-right">
        <a>Mer <i class="fa fa-caret-down"></i></a>
    </li>
            <li class="mobile_social_modul menu-right">
        <a>Följ</a>
      </li>
    </a>
</li>
    </ul>
</div>
</div>
</div>
</div>
</div>
<ul class="menu" style="height: 75px; overflow: inherit;">
        <li class="menu-button bars-display menu-left">
                <a>
            <i class="fa fa-bars"></i>
          </a>
              </li>
            <li class="logo menu-left ">
        <h1>              <span><a href="https://www.elledecoration.se/"><img src="https://files.elledecoration.se/uploads/2015/12/elle-deco-logo.svg" alt="ELLE Decoration" class="fade-effect"></a></span>
              </h1>      </li>
            <li class="menu-button text-display menu-left">
          <span class="menu-text"><a>MENY<i class="fa fa-caret-down"></i></a></span>
        </li>
  
                <li class="search menu-right">
            <i class="fa fa-search"></i>
            <form method="get" action="https://www.elledecoration.se" style="">
              <input type="search" name="s" placeholder="Sök på elledecoration.se">
            </form>
          </li>
        
        
        <li class="menu-more-wrapper menu-right" style="display: list-item;">
            <a>Mer <i class="fa fa-caret-down"></i></a>
        </li>
                <li class="mobile_social_modul menu-right">
            <a>Följ</a>
          </li>
        
        <li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
  <ul class="sub-menu" style="display: block; left: -24px;">
      <li id="menu-item-67634" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67634"><a href="https://www.elledecoration.se/etiketter/shopping/">Shopping</a></li>
      <li id="menu-item-65268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65268"><a href="https://www.elledecoration.se/etiketter/inredningstrender/">Trender</a></li>
      <li id="menu-item-67635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67635"><a href="https://www.elledecoration.se/etiketter/inredningstips/">Inredningstips</a></li>
      <li id="menu-item-65270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65270"><a href="https://www.elledecoration.se/etiketter/inredningsinspiration/">Inspiration</a></li>
      <li id="menu-item-65254" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65254"><a href="https://www.elledecoration.se/etiketter/compact-living/">Compact Living</a></li>
      <li id="menu-item-65251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65251"><a href="https://www.elledecoration.se/etiketter/sovrum/">Sovrum</a></li>
      <li id="menu-item-65234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65234"><a href="https://www.elledecoration.se/etiketter/vardagsrum/">Vardagsrum</a></li>
      <li id="menu-item-65255" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65255"><a href="https://www.elledecoration.se/etiketter/k%C3%B6k/">Kök</a></li>
      <li id="menu-item-65260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65260"><a href="https://www.elledecoration.se/etiketter/badrum/">Badrum</a></li>
      <li id="menu-item-65632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65632"><a href="https://www.elledecoration.se/etiketter/hall/">Hall</a></li>
      <li id="menu-item-65258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65258"><a href="https://www.elledecoration.se/etiketter/barnrum/">Barnrum</a></li>
      <li id="menu-item-65259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65259"><a href="https://www.elledecoration.se/etiketter/belysning/">Belysning</a></li>
      <li id="menu-item-65261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65261"><a href="https://www.elledecoration.se/etiketter/balkong/">Balkong</a></li>
      <li id="menu-item-65257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65257"><a href="https://www.elledecoration.se/etiketter/tapeter/">Tapeter</a></li>
  </ul>
  </li>
  <li id="menu-item-15561" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15561"><a href="https://www.elledecoration.se/kategori/hemma-hos/">Hemma hos</a></li>
  <li id="menu-item-36278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36278"><a href="https://www.elledecoration.se/kategori/gor-det-sjalv/">Gör det själv<i class="fa fa-caret-down"></i></a>
  <ul class="sub-menu" style="display: block; left: -6.5px;">
      <li id="menu-item-65265" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65265"><a href="https://www.elledecoration.se/etiketter/diy">DIY</a></li>
      <li id="menu-item-66499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66499"><a href="https://www.elledecoration.se/etiketter/renovering/">Renovering</a></li>
  </ul>
  </li>
  <li id="menu-item-36201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36201"><a href="https://www.elledecoration.se/kategori/tradgard/">Trädgård<i class="fa fa-caret-down"></i></a>
  <ul class="sub-menu" style="display: block; left: -12px;">
      <li id="menu-item-65262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65262"><a href="https://www.elledecoration.se/etiketter/vaxter">Växter</a></li>
      <li id="menu-item-66500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66500"><a href="https://www.elledecoration.se/etiketter/blommor/">Blommor</a></li>
      <li id="menu-item-65264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65264"><a href="https://www.elledecoration.se/etiketter/odla/">Odla</a></li>
  </ul>
  </li>
  <li id="menu-item-15563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15563"><a href="https://www.elledecoration.se/inspirationsgalleriet/">Inspirationsgalleriet</a></li>
  <li id="menu-item-30831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-30831"><a href="https://www.elledecoration.se/bloggar-pa-elle-decoration/">Bloggar<i class="fa fa-caret-down"></i></a>
  <ul class="sub-menu" style="display: none;">
      <li id="menu-item-67927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67927"><a href="https://fridafahrman.elledecoration.se/">Frida Fahrman</a></li>
      <li id="menu-item-65247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65247"><a href="https://johannabradford.elledecoration.se/">Johanna Bradford</a></li>
      <li id="menu-item-68834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68834"><a href="https://strenghielm.elledecoration.se/">Strenghielm</a></li>
      <li id="menu-item-68875" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68875"><a href="https://elinlannsjo.elledecoration.se/">Elin Lannsjö</a></li>
      <li id="menu-item-65249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65249"><a href="https://malin.elledecoration.se/">Malin Persson</a></li>
  </ul>
  </li>
  
  
  
  
  
  
      </ul>
      <ul class="menu" style="height: 75px; overflow: inherit;">
            <li class="menu-button bars-display menu-left">
                    <a>
                <i class="fa fa-bars"></i>
              </a>
                  </li>
                <li class="logo menu-left ">
            <h1>              <span><a href="https://www.elledecoration.se/"><img src="https://files.elledecoration.se/uploads/2015/12/elle-deco-logo.svg" alt="ELLE Decoration" class="fade-effect"></a></span>
                  </h1>      </li>
                <li class="menu-button text-display menu-left">
              <span class="menu-text"><a>MENY<i class="fa fa-caret-down"></i></a></span>
            </li>
      
                    <li class="search menu-right">
                <i class="fa fa-search"></i>
                <form method="get" action="https://www.elledecoration.se" style="">
                  <input type="search" name="s" placeholder="Sök på elledecoration.se">
                </form>
              </li>
            
            
            <li class="menu-more-wrapper menu-right" style="display: list-item;">
                <a>Mer <i class="fa fa-caret-down"></i></a>
            </li>
                    <li class="mobile_social_modul menu-right">
                <a>Följ</a>
              </li>
            
            <li id="menu-item-36200" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36200"><a href="https://www.elledecoration.se/kategori/inredning/">Inredning<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu" style="display: block; left: -24px;">
          <li id="menu-item-67634" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67634"><a href="https://www.elledecoration.se/etiketter/shopping/">Shopping</a></li>
          <li id="menu-item-65268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65268"><a href="https://www.elledecoration.se/etiketter/inredningstrender/">Trender</a></li>
          <li id="menu-item-67635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67635"><a href="https://www.elledecoration.se/etiketter/inredningstips/">Inredningstips</a></li>
          <li id="menu-item-65270" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65270"><a href="https://www.elledecoration.se/etiketter/inredningsinspiration/">Inspiration</a></li>
          <li id="menu-item-65254" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65254"><a href="https://www.elledecoration.se/etiketter/compact-living/">Compact Living</a></li>
          <li id="menu-item-65251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65251"><a href="https://www.elledecoration.se/etiketter/sovrum/">Sovrum</a></li>
          <li id="menu-item-65234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65234"><a href="https://www.elledecoration.se/etiketter/vardagsrum/">Vardagsrum</a></li>
          <li id="menu-item-65255" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65255"><a href="https://www.elledecoration.se/etiketter/k%C3%B6k/">Kök</a></li>
          <li id="menu-item-65260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65260"><a href="https://www.elledecoration.se/etiketter/badrum/">Badrum</a></li>
          <li id="menu-item-65632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65632"><a href="https://www.elledecoration.se/etiketter/hall/">Hall</a></li>
          <li id="menu-item-65258" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65258"><a href="https://www.elledecoration.se/etiketter/barnrum/">Barnrum</a></li>
          <li id="menu-item-65259" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65259"><a href="https://www.elledecoration.se/etiketter/belysning/">Belysning</a></li>
          <li id="menu-item-65261" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65261"><a href="https://www.elledecoration.se/etiketter/balkong/">Balkong</a></li>
          <li id="menu-item-65257" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65257"><a href="https://www.elledecoration.se/etiketter/tapeter/">Tapeter</a></li>
      </ul>
      </li>
      <li id="menu-item-15561" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-15561"><a href="https://www.elledecoration.se/kategori/hemma-hos/">Hemma hos</a></li>
      <li id="menu-item-36278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36278"><a href="https://www.elledecoration.se/kategori/gor-det-sjalv/">Gör det själv<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu" style="display: block; left: -6.5px;">
          <li id="menu-item-65265" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65265"><a href="https://www.elledecoration.se/etiketter/diy">DIY</a></li>
          <li id="menu-item-66499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66499"><a href="https://www.elledecoration.se/etiketter/renovering/">Renovering</a></li>
      </ul>
      </li>
      <li id="menu-item-36201" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children dropdown menu-item-36201"><a href="https://www.elledecoration.se/kategori/tradgard/">Trädgård<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu" style="display: block; left: -12px;">
          <li id="menu-item-65262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65262"><a href="https://www.elledecoration.se/etiketter/vaxter">Växter</a></li>
          <li id="menu-item-66500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66500"><a href="https://www.elledecoration.se/etiketter/blommor/">Blommor</a></li>
          <li id="menu-item-65264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65264"><a href="https://www.elledecoration.se/etiketter/odla/">Odla</a></li>
      </ul>
      </li>
      <li id="menu-item-15563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15563"><a href="https://www.elledecoration.se/inspirationsgalleriet/">Inspirationsgalleriet</a></li>
      <li id="menu-item-30831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-30831"><a href="https://www.elledecoration.se/bloggar-pa-elle-decoration/">Bloggar<i class="fa fa-caret-down"></i></a>
      <ul class="sub-menu" style="display: none;">
          <li id="menu-item-67927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67927"><a href="https://fridafahrman.elledecoration.se/">Frida Fahrman</a></li>
          <li id="menu-item-65247" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65247"><a href="https://johannabradford.elledecoration.se/">Johanna Bradford</a></li>
          <li id="menu-item-68834" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68834"><a href="https://strenghielm.elledecoration.se/">Strenghielm</a></li>
          <li id="menu-item-68875" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68875"><a href="https://elinlannsjo.elledecoration.se/">Elin Lannsjö</a></li>
          <li id="menu-item-65249" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65249"><a href="https://malin.elledecoration.se/">Malin Persson</a></li>
      </ul>
      </li>
      
      <div class="slider-puff-overlay post              ">
            <div class="slider-puff">
                      <h3>Hemma hos</h3>
              <p>Kreativt och personligt på 48 kvadratmeter</p>
                    </div>
          </div>
      
      
      
      
          </ul>

          <div class="slider-puff-overlay post              ">
                <div class="slider-puff">
                          <h3>Hemma hos</h3>
                  <p>Kreativt och personligt på 48 kvadratmeter</p>
                        </div>
              </div>